.result {
  display: flex;
  flex-direction: column;

  .title {
    text-align: center;
  }

  .resultItem {
    margin-bottom: 20px;
  }

  .btnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .button {
    width: 100%;
    max-width: 220px;
    margin-bottom: 10px;
  }

  @media (width >= 600px) {
    .btnBox {
      flex-direction: row;
      justify-content: space-around;
    }

    .button {
      margin-bottom: 0;
    }

   
  }
}
